.section1 { 

text-align:center;
width: 100vw;
height: 100vh;
position: absolute;
top: 67vh;
transition: all 1000ms ease-in-out;
transition-delay: 500ms;
display: flex;
flex-direction:column;

}

@media screen and (min-width: 600px) {
  .section1{
    top:70vh
  }
}

.hello {
transition: all 1400ms ease-in-out;
transition-delay: 1000ms;
font-size: 1.2rem;
text-shadow:  5px 5px 5px rgba(54, 47, 47, 0.353);
font-family: 'Orbitron', sans-serif;
font-weight:200;
margin: 0;
position: relative;
top:-1vh;
}

@media screen and (min-width: 600px) {
  .hello{
    font-size: 1.8rem;
  }
}

.hello.outview {
  opacity: 0;
}

.ric {
transition: all 1400ms ease-in-out;
transition-delay: 2500ms;
margin: 0;
font-size: 2.5rem;
letter-spacing: 1.2vh;

}

@media screen and (min-width: 600px) {
  .ric{
    font-size: 3.7rem;
  }
}

.ric.outview {
  opacity: 0;
}


.beg {
  transition: all 1400ms ease-in-out;
  transition-delay: 4000ms;
  font-family: 'Orbitron', sans-serif;
  font-weight:200;
  font-size: 1.2rem;
  text-shadow:  5px 5px 5px rgba(54, 47, 47, 0.353);
  margin-top: 1vh;

  }
  @media screen and (min-width: 600px) {
    .beg{
      font-size: 1.8rem;
    }
  }


  .beg.outview {
   
    opacity: 0; 
   
  }


  .fron {
    
    
    font-family: 'Oswald', sans-serif; 
    
  
    }


.scroll-anim {
  position: relative;
  top: -20vh;
  left: -1vw;
  transition: all 2500ms ease-in-out;
  transition-delay: 5000ms;
  opacity: 0.3;
}

.scroll-anim.outview {
  opacity: 0;  
}





