.ul-top{
  width: 100vw;
  height: 7vh;
  background-color:black;
  animation: gradient 8s ease infinite;
  background-size: 400% 400%;
  display: inline-flex;
  list-style: none;
  text-align: center;
  border-bottom: double 20px white;

  li {
    a {
 
      font-size: 15px;
      line-height: 16px;
      color: #ffffff;

      &:hover {
        color: #8df2e1;
      }
    }
  }
}

.ul-bottom{
  width: 100vw;
  height: 7vh;
  background: linear-gradient(-10deg,#581b86, #49a09d);
  animation: gradient 8s ease infinite;
  background-size: 400% 400%;
  display: inline-flex;
  list-style: none;
  text-align: center;
  border-top: double 20px white;

  li {
    a {
 
      font-size: 15px;
      line-height: 16px;
      color: #ffffff;

      &:hover {
        color: #8df2e1;
      }
    }
  }
}




svg{
color: #e7ede7;
}


.overlay{
 position: absolute;
 top: 0;
 left: 0;
 pointer-events: none; 
 width: 100%; 
 height: 100%
}

.top-bar{
  position: absolute; 
  pointer-events: auto; 
  font-size: 13px;  
}
